* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.dropdown-content {
  display: block;
  opacity: 0;

  transition: opacity 1s;
}

.dropdown.on > .dropdown-content {
  opacity: 1;
}

/* ============== */
$size: 20rem;
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  > a:active {
    top: 1px;
  }
  > a:focus {
    background: #000;
  }
}
.slides {
  $size: 20em;
  width: $size;

  display: flex;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: center;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;

  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;

  > div {
    min-width: $size;
    min-height: $size;
    scroll-snap-align: center;

    margin: 0 1.5em;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      margin-left: 3em;
    }

    &:last-child {
      margin-right: 3em;
    }
  }
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Don't need button navigation */
@supports (scroll-snap-type: mandatory) {
  .slider > a {
    display: none;
  }
}

.controllerContainer {
  position: relative;
  display: flex;
  justify-content: center;

  > .controller {
    position: absolute;
    top: 50%;
  }
  > .controller#forward {
    left: calc(50vw + 11rem);
  }

  > .controller#backward {
    left: calc(50vw - 11rem);
  }
}
